@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins&family=Roboto&display=swap');

:root{
    --main_blue: #102D55;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    font-family:'Poppins', sans-serif;
    padding: 2rem;
    overflow-x: hidden;
    font-size: 13px;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #888;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #f1f1f1;  /* creates padding around scroll thumb */
}

.top__container{
    display: flex;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #dbdbdb;
}

.years__container{
    background-color: var(--main_blue);
    width: 20%;
    border-radius: 5px 0 0 5px;
}

.main__content__container{
    width: 80%;
    border-radius: 0 5px 5px 0;
    padding: 1rem 2rem 1rem 1rem;

}
.main__content__container h1{
    color:var(--main_blue);
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 0;
}

.main__content__container h2{
    color:var(--main_blue);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: .5rem;
}

div.links{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}
div.link{
    width: 50%;
    margin-top: .5rem;
}
.links i{
    color: white;
    background-color: var(--main_blue);
    padding: 5px;
    border-radius: 50%;
    font-size: 10px;
    display: inline-block;
    margin-right: .5rem;
}
p.general__desc{
    font-size: 13px;
    margin-top: 1.5rem;
}
div.line__text__container{
    display: flex;
    margin-top: 1rem;
}
.line__container{
    width: max-content;
    margin-right: .5rem;
}
.text__container{
    /* width: 93%; */
}

h1.primary__heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: .3rem;
}
h2.second__heading{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0;
}
span.small__subtitle{
    font-style: italic;
    font-size: 15px;
}

ul.description__list{
    margin-top: .3rem;
    list-style-position: inside;
}
div.list__container{
    margin-bottom: 1rem;
}

div.software__container{
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}
div.icons__text__container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.fa-circle{
    color: var(--main_blue);
}

p.skill__desc{
    margin-bottom: .4rem;
}
.skills__cont{
    margin-bottom: 1rem;
}
.line__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.side-icon{
    color: #fff;
    font-size: 15px;
    padding: 10px;
    background-color: var(--main_blue);
    border-radius: 50%;
    height: fit-content;
    z-index: 100;
}
div.line{
    border-left: 1px solid #888;
    position: absolute;
    height: 100%;
    z-index: 1;
}
.line__container .fa-circle{
    font-size: 10px;
    z-index: 100;
}